<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('funding_application.check_answers.project.environmental_impacts_description') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%=
      model_object.environmental_impacts_description.present? ?
      model_object.environmental_impacts_description :
      t('generic.not_answered')
    %>
  </dd>

</div>
