<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.check_your_answers.project_start_date') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%=
      model_object.start_date.present? ?
      model_object.start_date.strftime('%d %b %Y').to_s :
      t('generic.not_answered')
    %>
  </dd>

</div>
