<%=
  render partial: "partials/page_title",
  locals: {
    page_title:  "There is a problem with your account"
  }
%>

<fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
  <span class="govuk-caption-xl"> About your organisation </span>
    <h1 class="govuk-heading-l">There is a problem with your account</h1>
    <h2 class="govuk-heading-m">You are currently logged in as <%= current_user.email %></h2>
  </legend>

    <%=
      render partial: "partials/error_with_account"
    %>

</fieldset>
