<span class="govuk-caption-xl"> Add your details </span>

<%=
  render partial: "partials/page_title",
  locals: {
    page_title:  "There is a problem with your account"
  }
%>

<fieldset class="govuk-fieldset">

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-heading-l">There is a problem with your account</h1>
    <h2 class="govuk-heading-m">You are currently logged in as <%= current_user.email %></h2>
  </legend>

  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <div class="govuk-error-summary__body">
        <p>
          Our support team are reviewing the issue and will be in touch soon.
        </p>
      </div>
    </div>
  </div>

  <div class="govuk-inset-text">
    <p>
      Please
      <%= link_to(t('buttons.labels.sign_out').downcase, destroy_user_session_path, method: :delete, class: 'nlhf-toolbar__link') %>
    </p>
    <p>
      When the problem has been resolved you will be asked to try again.
    </p>
  </div>

</fieldset>
