<p> Todo - Project Management structure </p>

<% # Temp button to advance the journey %>
<%=
  render(
    ButtonComponent.new(
      element: 'a',
      href: 'property-ownership-evidence'
    )
  )
%>
