<%= render 'partials/funding_application/legal_agreements/additional_docs/add_for_10_to_100k' %>

<h2 class="govuk-heading-m">
  <%= t('agreement.additional_docs.headings.legal_charge') %>
</h2>

<p class="govuk-body">
  <%= t('agreement.additional_docs.text.legal_charge') %>
</p>
