<p class="govuk-body">
  <%=
    t(
      'agreement.before_you_agree_html',
      href: link_to(
        t('agreement.before_you_agree_href'),
          @download_link
      )
    )
  %>
</p>

<p class="govuk-body">
  <%= t('agreement.when_ready') %>
</p>

<div class="govuk-form-group">

  <%=
    form_with model: model_object,
      url: :funding_application_terms_and_conditions,
      method: :put,
      remote: false do |f|
  %>

    <%=
      render(
        ButtonComponent.new(
            element: "input",
            text: t('buttons.labels.i_agree')
        )
      )
    %>

  <% end %>

</div>
