<% # renders section HTML from the controller when an applicant%>
<% if @section_end_html.present? %> 
  <%= raw @section_end_html %>
<% end %>

  <p class="govuk-body">
    <%= t('agreement.confirmation') %>
  </p>

  <div class="hide-unless-print">
    <p class="govuk-body govuk-!-font-weight-bold">Name</p>
    <p class="govuk-body govuk-!-font-weight-bold">Position</p>
    <p class="govuk-body govuk-!-font-weight-bold">Organisation</p>
    <p class="govuk-body govuk-!-font-weight-bold">Signature</p>
    <p class="govuk-body govuk-!-font-weight-bold">Date</p>
  </div>


<div class="no-print">
    <%=
      render(
        ButtonComponent.new(
          element: 'a',
          href: button_link,
          text: t('buttons.labels.continue')
        )
      )
    %>
  </div> 

<% # renders section close tag if html present %>
<% if @section_end_html.present? %> 
  </section>
<% end %>
