<div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
  id="conditional-<%= model_object_name %>_<%= designation %>">

  <div class="govuk-form-group">

    <%=
      form_object.label :hd_grade_2_c_description,
      t('heritage_designations.labels.hd_grade_2_c_description'),
      class: 'govuk-label'
    %>

    <%=
      form_object.text_field :hd_grade_2_c_description,
      class: "govuk-input govuk-input--width-5 #{'govuk-input--error' if
        model_object.errors[:hd_grade_2_c_description].any?}",
      'autocomplete' => 'off'
    %>

  </div>

</div>