<p> Todo - Edit a permission or licence </p>

<% # Temp button to advance the journey %>
<%=
  render(
    ButtonComponent.new(
      element: 'a',
      href: 'edit-permissions-or-licences'
    )
  )
%>
