<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: 'Permission to Start -  Agreed Costs Documents'
         }
%>

<span class="govuk-caption-xl govuk-!-padding-bottom-2">Agreed Costs</span>
<h1 class="govuk-heading-l govuk-!-padding-bottom-2">
    Upload a cost breakdown and cashflow, with an indication of when you will be seeking grant payments
</h1>


