@media not print {
  .hide-unless-print {
      display: none;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .no-print, .no-print *
  {
      display: none !important;
  }

}
