@media not print {
  .hide-unless-print {
      display: none;
  }
}

@media print {
  .govuk-link:link, a:link {
    color: black;
    text-decoration: none;
    font-style: italic;
  }

 .printable-link{
  color: blue !important;
  text-decoration: underline !important;
 }

  .nlhf-summary, .nlhf-summary__header{
    color: black !important;
  }

  a[href]:after {
    content: none !important;
  }

  .govuk-footer, .nlhf-toolbar, 
  .nlhf-cookie-banner,
  .govuk-phase-banner,
  .nlhf-header-global,
  .no-print, .no-print * {
    display: none !important;
  }

  .pagebreak {
    clear: both;
    page-break-before: always;
  }
  
  @page { size: auto;  margin: 3mm; }
}
