<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('funding_application.check_answers.project.heritage_attracts_visitors.question') %>
  </dt>

  <dd class="govuk-summary-list__value">

    <% unless model_object.heritage_attracts_visitors.nil? %>

      <%=
        model_object.heritage_attracts_visitors ?
        t('funding_application.check_answers.project.heritage_attracts_visitors.answer_yes') :
        t('funding_application.check_answers.project.heritage_attracts_visitors.answer_no')
      %>

    <% else %>
    
      <%= t('funding_application.check_answers.not_answered') %>

    <% end %>

  </dd>

  <%=
    render(
      partial: 'partials/funding_application/check_answers/change_link',
      locals: {
        link_url: change_link,
        link_hidden_label: t(
          'funding_application.check_answers.project.heritage_attracts_visitors.question'
        )
      }
    )
  %>

</div>
