<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key">
    <%= t('views.funding_application.gp_project.check_your_answers.other_outcomes') %>
  </dt>

  <dd class="govuk-summary-list__value">

    <% (2 .. 9).each do |n| %>

      <% if model_object["outcome_#{n}"].present? %>

        <h4 class="govuk-heading-s">
          <%= t("views.funding_application.gp_project.check_your_answers.possible_outcomes.outcome_#{n}") %>
        </h4>

        <% if model_object["outcome_#{n}_description"].present? %>

          <p class="govuk-body">
            <%= model_object["outcome_#{n}_description"] %>
          </p>

        <% end %>

      <% end %>

    <% end %>

  </dd>

  <%=
    render(
      partial: 'partials/funding_application/check_answers/change_link',
      locals: {
        link_url: change_link,
        link_hidden_label: t('views.funding_application.gp_project.check_your_answers.other_outcomes')
      }
    )
  %>

</div>
