<div class="govuk-summary-list__row">

  <dt class="govuk-summary-list__key govuk-!-width-one-third">
    <%= t('funding_application.check_answers.project.recent_project_title') %>
  </dt>

  <dd class="govuk-summary-list__value">
    <%=
      model_object.recent_project_title.present? ?
      model_object.recent_project_title :
      t('generic.not_answered')
    %>
  </dd>

  <%=
    render(
      partial: 'partials/funding_application/check_answers/change_link',
      locals: {
        link_url: change_link,
        link_hidden_label: t(
          'funding_application.check_answers.project.recent_project_title'
        )
      }
    )
  %>

</div>
