<p> Todo - Evidence of Fundraising plan </p>

<% # Temp button to advance the journey %>
<%=
  render(
    ButtonComponent.new(
      element: 'a',
      href: 'non-cash-contributions-correct'
    )
  )
%>
