<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: 'Service unavailable'
         }
%>

<h1 class="govuk-heading-l">
  Service Unavailable
</h1>

<p class="govuk-body">
  Our service is not available between 5pm on 6 March and 8am on 8 March 2023 due to planned maintenance.
</p>