<%=
  render partial: "partials/page_title",
         locals: {
             model_object: nil,
             page_title: t("service_unavailable.heading")
         }
%>

<h1 class="govuk-heading-l">
  <%= t("service_unavailable.heading") %>
</h1>

<p class="govuk-body">
  <%= t("service_unavailable.azure_migration") %>
</p>