<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <div class="govuk-error-summary__body">
      <p>
        <%= t('import_error.support_in_touch') %>
      </p>
    </div>
  </div>
</div>

<div class="govuk-inset-text">
  <p>
    <%= t('import_error.please') %>
    <%= link_to(t('buttons.labels.sign_out').downcase, destroy_user_session_path, method: :delete, class: 'nlhf-toolbar__link') %>
  </p>
  <p>
    <%= t('import_error.try_again') %>
  </p>
</div>
