<header class="nlhf-header-global">
    <div class="govuk-width-container">
        <div class="nlhf-header-global__logo">
            <a href="<%= root_url %>">
                <img src="<%= image_path("NLHF_Logo_English_Landscape_Black___White_RGB.png") %>" alt="<%= t("header.logo_alt_text") %>" width=100% class="nlhf-header-global__logo-image">
            </a>
        </div>
    </div>
</header>
