<%=
  render partial: "partials/page_title",
         locals: {
             model_object: @funding_application,
             page_title: 'Manage you awarded project' 
         }
%>

<h1 class="govuk-heading-l"> Manage you awarded project </h1>

Task list items

<%= form_tag(
    url: :funding_application_payment_request_start,
    method: :post,
    local: true
  ) do |f| 
%>

  <%= render(
      ButtonComponent.new(
        element: "button",
        text: t("buttons.labels.continue")
      )
    ) 
  %>

<% end %>