<%=
  render partial: "partials/page_title",
    locals: {
        model_object: nil,
        page_title: 'Downlaod and Sign PTS '
    }
%>

<h1 class="govuk-heading-xl">
  Before you submit the Permission to Start Form
</h1>

<div class="govuk-!-padding-bottom-4">
  <h2 class="govuk-heading-m">
    What you need to do:
  </h2>

    <p class="govuk-body">To sign the form:</p>
    <ul class="govuk-list govuk-list--number">
      <li>Download the Permission to Start</li> 
      <li>Sign the document</li>
        <ul class="govuk-list govuk-list--bullet">
          <li>You can either digitally sign the document or print, sign  and scan the document.</li>
        </ul>
      <li>Upload the signed Permission to Start</li>
    </ul>

     <p class="govuk-body">All signatures must be new. They cannot be copies.</p>
</div>

<div class=" govuk-!-margin-bottom-9">
  <%=
    link_to(
      'I have already downloaded and signed Permission to Start Form',
      sfx_pts_payment_upload_permission_to_start_path(@salesforce_experience_application.salesforce_case_id),
      class: 'govuk-link',
    )
  %>
</div>

<%= form_tag(
    url: :sfx_pts_payment_download_instructions,
    method: :post,
    local: true
  ) do |f| 
%>

  <%= render(
      ButtonComponent.new(
        element: 'button',
        is_start_button: false,
        text: 'Continue'
      )
    ) 
  %>

<% end %>