<p> Todo - upload permission to start </p>

<% # Temp button to advance the journey %>
<%=
  render(
    ButtonComponent.new(
      element: 'a',
      href: 'upload-permission-to-start'
    )
  )
%>
