<p> Todo - Timetable or work programme </p>

<% # Temp button to advance the journey %>
<%=
  render(
    ButtonComponent.new(
      element: 'a',
      href: 'project-management-structure'
    )
  )
%>
