<div class="nlhf-panel">

  <h2 class="govuk-heading-m">
    <%= t('views.summary.related_link_heading') %>
  </h2>

  <p class="govuk-body govuk-!-margin-bottom-0">
    <%= 
      link_to t('views.summary.related_link_text'),
        summary_link,
      class: 'govuk-link govuk-link--no-visited-state' 
    %>
  </p>

</div>